#background-generator{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--pure-white);
}
.content-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px 50px;
    width: 100%;
    padding: 50px 20px;
    margin-top: 50px;
}
.left-wrap{
    height: fit-content;
    flex: 1;
    max-width: 500px;
    min-width: 300px;
    padding: 40px 30px;
    background-color: var(--secondary-pink);
    box-shadow: 5px 5px 0 0 var(--shadow-black);
    border-radius: 20px;
    border: 2px solid var(--shadow-black);
}
.generator-preview{
    background-color: var(--pure-white);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 0 0 var(--shadow-black);
    border: 2px solid var(--shadow-black);
}
.code-preview{
    text-align: center;
    margin-top: 30px;
    box-shadow: 3px 3px 0 0 var(--shadow-black);
    border: 2px solid var(--shadow-black);
    border-radius: 10px;
    background-color: var(--pure-white);
}
#copyCode{
    padding: 25px 10px;
    word-wrap: break-word;
}
#copyButton{
    width: 100%;
    padding: 10px 15px;
    border: none;
    border-top: 2px solid var(--shadow-black);
    cursor: pointer;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background: var(--primary-color);
    color: #ffffff;
}
#copybutton:hover{
    opacity: 0.9;
    transition: 0.2s ease-out;
}
#copybutton:active{
    opacity: 1;
    transition: 0.2s ease;
}
.right-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px 10px;
    flex: 1;
    max-width: 500px;
    min-width: 300px;
    padding: 40px 30px;
    background-color: var(--secondary-blue);
    box-shadow: 5px 5px 0 0 var(--shadow-black);
    border-radius: 20px;
    border: 2px solid var(--shadow-black);
}
.field{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}
input[type="color"]{
	width: 60px;
	height: 40px;
	border: none;
    background: none;
}